# gradle

.gradle/
build/
*.zip
*.tar.gz
openjdk-21-x86/
testdatapack/
*.json
test*
kart*
datapack-all-in-one/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
